@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Ewert&display=swap');
/* font-family: 'Bungee Shade', cursive; */
/* font-family: 'Ewert', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html
{
    background-color: yellowgreen;
}
*
{
padding: 0px;
margin: 0px;
font-family: monospace;
}

header
{

	height: 100vh;
	background-image: url('photos/header_website.png');
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	justify-content: center;
    margin-bottom: 30px;
    background-color: pink;
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}


#down
{
	position: absolute;
  top:85vh;
  border-radius: 20px;
	size: 40px;
	padding: 20px;
	font-size: 2.5em;
}

#down:hover
{
	cursor: pointer;
	background-color: #eee;
	opacity: 0.8;
}
h1
{
    font-size: 60px;
    font-family: 'Ewert', cursive;
}

  @media screen and (max-width: 600px) 
  {
     
     
    
  }
  @media only screen and (max-device-width: 1366px) {
    header {
      background-attachment: scroll;
    }
  }